{% extends 'main.html' %}

{% block content %}
<!-- Main Section -->
<main class="inbox my-xl">
  <div class="content-box">
    <h3 class="inbox__title">New Inquiries(<span style="color:blue;">{{unreadCount}}</span>)</h3>

    <ul class="messages">
      {% for inquiry in feedbacks %}
      {% if inquiry.is_read == False %}
      <li class="message message--unread">
        {% else %}
      <li class="message">
        {% endif %}

        <a href="{% url 'inquiry' inquiry.id %}">
          <span class="message__author">{{inquiry.name}}</span>
          <span class="message__subject">{{inquiry.subject}} 
            {% if inquiry.attachment %}
                <br>
                Attachment added
                
            {% endif %}
          </span>
          <span class="message__date">{{inquiry.created}}</span>
        <span class="tag tag--pill tag--main" style="padding: 0.5rem; font-size:1.2rem;">
          <small>{{inquiry.status}}</small>
        </span>
          
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</main>

{% endblock content %}