{% extends 'main.html' %}
{% load static %}
{% block content %}

<!-- Main Section -->
<main class="profile my-md">
    <div class="container">
        <div class="layout">
            <div class="column column--1of3">
                <div class="card text-center">
                    <div class="card__body dev">
                        <img class="avatar avatar--xl" src="{{ profile.imageURL }}" />
                        <h2 class="dev__name">{{profile.name}}</h2>
                        <p class="dev__title">{{profile.account}}</p>
                        <p class="dev__location">Based in {{profile.location}}</p>
                        <ul class="dev__social">

                            {% if profile.social_github %}
                            <li>
                                <a title="Github" href="{{profile.social_github}}" target="_blank"><i
                                        class="im im-github"></i></a>
                            </li>
                            {% endif %}


                            {% if profile.social_twitter %}
                            <li>
                                <a title="Twitter" href="{{profile.social_twitter}}" target="_blank"><i
                                        class="im im-twitter"></i></a>
                            </li>
                            {% endif %}

                            {% if profile.social_linkedin %}
                            <li>
                                <a title="LinkedIn" href="{{profile.social_linkedin}}" target="_blank"><i
                                        class="im im-linkedin"></i></a>
                            </li>
                            {% endif %}

                            {% if profile.social_website %}
                            <li>
                                <a title="Personal Website" href="{{profile.social_website}}" target="_blank"><i
                                        class="im im-globe"></i></a>
                            </li>
                            {% endif %}

                        </ul>
                        {% if request.user.profile.id != profile.id %}
                        <a href="{% url 'create-message' profile.id %}" class="btn btn--sub btn--lg">Send Message </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="column column--2of3">
                <div class="devInfo">
                    <h3 class="devInfo__title">About Me</h3>
                    <p class="devInfo__about">{{profile.bio}}</p>
                </div>
              

        <div class="settings">
          <h3 class="settings__title">Training</h3>
          
        </div>

      <table class="settings__table">
          {% for training in training %}
          <tr>
            <td class="settings__thumbnail">
              {% comment %} <a href="{{training.imageURL}}"><img src="{{training.imageURL}}" alt="Training Thumbnail" /></a> {% endcomment %}
            <a href="{{training.imageURL}}"><img src=" {% static 'images/certificates/certificate.png' %} "  style="height: 8rem;" alt="Training Thumbnail" /></a>
            </td>
            <td class="settings__tableInfo" >
              <a href="#">{{training.trainer}}</a> &nbsp; <br>
              <p>{{training.description|slice:"100"}}</p>
            </td>
            <td class="settings__tableActions">
              <span class="tag tag--pill tag--main settings__btn"></i> Completed</span>
              <span class="tag tag--pill tag--main settings__btn" style="align-items:left;"></i>
                {{training.completed}}</span>
            </td>
          </tr>
          {% endfor %}

        </table>


                

                
                <div class="devInfo">
                    <h3 class="devInfo__title">Products</h3>
                    <div class="grid grid--two">
                        {% for product in profile.product_set.all %}
                        <div class="column">
                            <div class="card project">
                                <a href="{% url 'product' product.id %}" class="project">
                                    <img class="project__thumbnail" src="{{product.imageURL}}"
                                        alt="project thumbnail" />
                                    <div class="card__body">
                                        <h3 class="project__title">{{product.title}}</h3>
                                        <p><a class="project__author"
                                                href="{% url 'user-profile' product.owner.id %}">By
                                                {{product.owner.name}}</a>
                                        </p>
                                        <p class="project--rating">
                                            <span style="font-weight: bold;">{{product.vote_ratio}}%</span> Postitive
                                            Feedback ({{product.vote_total}} Vote{{product.vote_total|pluralize:"s"}})
                                        </p>
                                        <div class="project__tags">

                                            {% for payment in product.payments.all %}
                                            <span class="tag tag--pill tag--main">
                                                <small>{{payment}}</small>
                                            </span>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}