{% extends 'main.html' %}
{% block content %}



<!-- Main Section -->
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="{% url 'account' %}"> &#10094;</a>
            <br>

            <form class="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in form %}
                <!-- Input:Text -->
                <div class="form__field">
                    <label for="formInput#text">{{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}

                <div class="form__field form__field--checkbox" >
                    {% for payment in product.payments.all %}
                   
                    <div class="project-tag tag tag--pill tag--main" data-tag="{{payment.id}}"
                        data-project="{{product.id}}">{{payment.name}} &#215;</div> 
                     
                    {% endfor %}

                    <div class="form__field"style="display:none;">
                    <label for="formInput#text">Payment</label>
                    <textarea class="input" name="newpayments"  placeholder="Add tags here..."></textarea>
                </div>

                </div>
                
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>


{% endblock %}