{% extends 'main.html' %}
{% block content %}


<!-- Main Section -->
<main class="settingsPage profile my-md opacBg">
  <div class="container ">
    <div class="layout">
        
      <div class="column column--1of3">
        <div class="card text-center info">
            <h4> Product Info</h4>
            <hr>
            <br>
           <img id="myModalImg" style="max-width:109px" alt="{{product.name.name}}" class="singleProject__preview"  src="{{ product.imageURL }}" alt="portfolio thumbnail" />
              <!-- The Modal -->
                        <div id="myModalImage" class="modalImage">

                        <!-- Modal content -->
                        <div class="modal-contentImage">
                            <span class="closeImage">&times;</span>
                            <p> <img class="modal-contentImage" id="productImage"></p>
                            <div id="captionImage" style="color:#000;"></div>
                        </div>

                        </div>
                                 <!-- Input:Text -->
                        <div class="form__field">
                        <label for="formInput#text">Product Name: </label>
                        <input
                            class="input input--text"
                            id="formInput#text"
                            type="text"
                            name="text"
                            value = "{{product.name.name}}"
                            placeholder="Enter your full name" readonly
                        />
                        </div>
                                <!-- Input:Text -->
                        <div class="form__field">
                        <label for="formInput#text">Owner's Name: </label>
                        <input
                            class="input input--text"
                            id="formInput#text"
                            type="text"
                            name="text"
                            value = "{{product.owner.name}}" readonly
                        />
                        </div>
                                <!-- Input:Text -->
                        <div class="form__field">
                        <label for="formInput#text"> Unity Price: </label>
                        <input
                            class="input input--text"
                            id="formInput#text"
                            type="text"
                            name="text"
                            value = "{{product.name.price}}" readonly
                        />
                        </div>

                     <label for="formInput#text"> Payements Accepted </label><br>
                    {% for payment in product.payments.all|slice:'3' %}
                    <span class="tag tag--pill tag--main">
                        <small>{{payment}}</small>
                    </span>
                
                    {% endfor %}<br><br>

        </div>
      </div>

      <div class="column column--2of3 modal-contentForm">
         
        
        <!-- FORM STARTS HERE-->
                    <form action="{% url 'process-order' product.owner.id %}" class="form" method="POST">
                        {% csrf_token %}
                        <!-- Input:Text -->
                        <div class="form__field">
                        <input  class="input input--text" id="formInput#text"type="text"
                            name="productName"value = "{{product.name.name}}"
                            hidden readonly
                        />
                        </div> 
                        <!-- Input:Text -->
                        <div class="form__field">
                        <input  class="input input--text" id="formInput#text"type="text"
                            name="productId"value = "{{product.id}}"
                           hidden  readonly
                        />
                        </div>
                          <!-- Input:Text -->
                        <div class="form__field">
                        <input  class="input input--text" id="formInput#text"type="text"
                            name="SingleId" hidden value = "{{product.name.id}}"
                             readonly
                        />
                        </div>
                        <!-- Input:Text -->
                        <div class="form__field">
                        <input  class="input input--text" id="formInput#text"type="text"
                            name="productId"value = "{{product.id}}"
                            hidden readonly
                        />
                        </div>
                                {% comment %} <!-- Input:Text -->
                        <div class="form__field">
                        <input
                            class="input input--text"
                            id="formInput#text"
                            type="text" name="seller"
                            value = "{{product.owner.name}}" hidden readonly
                        />
                        </div> {% endcomment %}
                              

                        <!-- TODO: THIS IS DISPLAYED FROM HERE-->

                         <!-- Input:Text -->
                        <div class="form__field">
                            <label for="formInput#text"> Future Use:  
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="radio" class="radio" name="choice" value="Resell" required> Resell 
                                &nbsp;&nbsp;&nbsp;&nbsp;or &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="radio" class="radio" name="choice" value="Consuming" required> Consuming
                                
                            </label>

                        <input
                            class="input input--text"
                            id="formInput#text"
                            type="number"
                            name="price"
                            value = "{{product.name.price}}" readonly hidden 
                        />
                        

                        <input
                            class="input input--text"
                            id="formInput#text"
                            type="text"
                            name="unity"
                            value = "{{product.name.unity}}" readonly hidden 
                        />

                        

                              <!-- Input:Text -->
                        <div class="form__field">
                             <label for="formInput#text"> {{product.name.unity}} Available: </label>
                        <input class="input input--text" id="formInput#text"
                            type="number" name="TotalQuantity"
                            value = "{{product.quantity}}"  readonly
                        />
                        </div>

                      <!-- Input:Text -->
                        <div class="form__field">
                        <label for="formInput#text">  {{product.name.unity}} you need: </label>
                        <input
                            class="input input--text"
                            id="number-field"
                            placeholder = " < =  {{product.quantity}}"
                            type="number" required
                            name="quantityNeeded"
                            value = "" 
                        />
                        </div>
                        <!-- Input:Text -->
                        <div class="form__field">
                        <label for="formInput#text"> Location: </label>
                        <input
                            class="input input--text" required
                            id="formInput#text" placeholder="Eg. KN-14AVE......."
                            type="text"
                            name="location"
                            value = "" 
                        />
                        </div>

                     

                    
                        <!-- Textarea -->
                        <div class="form__field">
                        <label for="formInput#textarea">Requet Message: </label>
                        <textarea
                            class="input input--textarea"
                            name="reason"
                            id="formInput#textarea"
                            placeholder="Write something awesome..."
                        ></textarea>
                        </div>

                        <!-- Input:Submit / Input:Reset  -->

                       
                        <div class="form__field form__field--action center">
                            <input class="btn btn--sub--outline" type="reset" value="Reset" />
                            <input class="btn btn--sub" type="submit" value="Submit" />
                        </div>
                        </form>
                
            {% comment %} </div>                        {% endcomment %}

      </div>
    </div>
  </div>
</main>


{% endblock %}
