{% extends 'main.html' %}
{% block content %}



<!-- Main Section -->
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="{% url 'account' %}"> <i class="fa icon-chevron-left"></i></a> 
            {% if product %} <img src="{{product.imageURL}}" class="product-image" id="myModalImg" >
            
            
                        <!-- The Modal -->
                        <div id="myModalImage" class="modalImage">

                        <!-- Modal content -->
                        <div class="modal-contentImage">
                            <span class="closeImage">&times;</span>
                            <p> <img class="modal-contentImage" id="productImage"></p>
                            <div id="captionImage"></div>
                        </div>

                        </div>

            
            {% endif %}
            <br>



            <form class="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                        <!-- 2 Columns Layout -->
                    <div class="layout" style="justify-content: space-evenly;">



                        {% for field in form %}
                                <div class="column column--1of2" style="margin-bottom:0rem;"><div class="form__field">
                                    <label for="formInput#text">{{field.label}}</label></div>
                                    <div class="column column--1of2" style="margin-bottom:0rem;">{{field}}   </div></div>

                                    <!-- {% if field.help_text %}
                                    <small>{{field.help_text}}</small>
                                    {% endif %} -->

                                    {% for error in field.errors %}
                                    <p style="color: red;">{{error}}</p>
                                    {% endfor %}

                            

                        {% endfor %}
                    </div>

                <div class="form__field form__field--checkbox" >
                    {% for payment in product.payments.all %}
                   
                    <div class="project-tag tag tag--pill tag--main" data-tag="{{payment.id}}"
                        data-project="{{product.id}}">{{payment.name}} &#215;</div> 
                     
                    {% endfor %}

                    <div class="form__field"style="display:none;">
                    <label for="formInput#text">Payment</label>
                    <textarea class="input" name="newpayments"  placeholder="Add tags here..."></textarea>
                </div>

                </div>
                
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>


{% endblock %}