{% extends 'main.html' %}
{% block content %}

{% load humanize %}
<!-- Main Section -->
<main class="products">
    <section class="hero-section text-center">
        <div class="container container--narrow">
            <div class="hero-section__box">
                <h2>Search for <span>Yield</span> <span onclick = "window.location.href='{% url 'trend' %}'; return false;" title="view Trend"><i class="fa icon-bar-chart" style="font-size: inherit; cursor:pointer; color:blue;"></i></span></h2>
            </div>

            <div class="hero-section__search">
                <form id='searchForm' class="form" action="{% url 'products' %}" method="get">
                    <div class="form__field">
                        <label for="formInput#search">Search By Yield </label> 
                        <input class="input input--text white" id="formInput" type="text" name="search_query"
                            placeholder="Simply search....." value="{{search_query}}" />
                    </div>

                    <input class="btn btn--sub btn--lg" type="submit" value="Search" />
                </form>
                
            </div>
        </div>
    </section>
    
    {% include 'products/card.html' %}


{% comment %}     
<img id="myImg" src="{% static 'images/' %}" alt="Snow" style="width:100%;max-width:300px">

<!-- The Modal -->
<div id="myModalImage" class="modalImage">
  <span class="closeImage">&times;</span>
  <img class="modal-contentImage" id="img01">
  <div id="captionImage"></div>
</div> {% endcomment %}


    {% include 'pagination.html' with queryset=products custom_range=custom_range %}

</main>




{% endblock %}


{% block footer %}{% endblock footer %}