{% extends 'main.html' %}

{% load static %}
{% load humanize %}
{% block content %}

<!-- Main Section -->
<main class="settingsPage profile my-md">
  <div class="container">
    <div class="layout notifications" style="background:white; margin:auto;">

<div class="contact" style="flex-flow:row;">
                    <h3>Overall <i onclick="window.location='{% url 'notification' %}';" class="icon-refresh"></i></h3>
                <hr>
                <br>
                <p>
                 <h6> Declined: &nbsp; <b> {{declined}} </b> </h6>
                 
                 <h6> Pending: &nbsp;  <b>  {{pending}} </b> </h6>
                 
                 <h6> Confirmed: &nbsp; <b>  {{confirmed}} </b> </h6>
                  
                </p>


        
</div>

{% include 'users/chart.html' %}

             
            
{% comment %} 
            <img id="myModalImg" alt="{{profile.name}}" class="avatar avatar--xl dev__avatar" src="{{profile.imageURL}}" /> {% endcomment %}
             <!-- The Modal -->
                        <div id="myModalImage" class="modalImage">

                        <!-- Modal content -->
                        <div class="modal-contentImage">
                            <span class="closeImage">&times;</span>
                            <p> <img class="modal-contentImage" id="productImage"></p>
                            <div id="captionImage"></div>
                        </div>
                     </div>

      

        <div style="overflow-x:auto;">
                <table id="MyData">
                    <tr>
                    <td colspan= "2"><b>My orders:</b></td>
                    <td colspan= "6">
                     <form id="searchForm" class="form" action="{% url 'notification' %}" method="get">
                   
                        <input class="input input--text" id="formInput" type="text" name="search_query"
                            value="{{search_query}}" placeholder="Search................" />
                  
                  </th>
                    <tr class="chk-th">
                    <th>Order Id</th>
                    <th>P Name</th>
                    <th>Seller</th>
                    <th>Buyer</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Request</th>
                    <th>Total(Rwf)</th>
                    <th colspan = "2"><center>Action</center></th>
                    </tr>
                    {% if orders %}
                    
                      {% for order in orders  %}
                      
                    <tbody id="MyRow"  class="result">
                        <tr  id="Data" >
                        <td id="id">{{order.id}}</td>
                        <td id="productName">{{order.productName}}</td>
                        <td id="seller">{{order.seller}}</td>
                        <td id="buyer">{{order.buyer}}</td>
                        <td id="price">{{order.price}}</td>
                        <td id="quantity">{{order.quantity}}</td>
                        
                        <td id="request">{{order.request}}</td>
                         <td id="response" style="display:none;">{{order.response}}</td>
                         <td id="unity" style="display:none;">{{order.unity}}</td>
                         <td id="location" style="display:none;">{{order.location}}</td>
                          
                         <td id="status" style="display:none;">{{order.status}}</td>
                          
                        <td id="total">{{order.line_total|intcomma }} </td>
                        
                        
                        <td  class="open-modal-button" data-id="{{order.id }}"> View </td>
                       

                        

                          {% if order.buyer.username == request.user.username %}
                          <td  colspan="2"><span  class="{{order.status}}">{{order.status}}</span></td>
                          {% else %}
                          {% if order.status == 'Pending' %}
                          <td  colspan="2"><i class="icon-remove noti"></i><i class="icon-ok noti"></i></td>
                          {% else %}
                           <td colspan="2"><span  class="{{order.status}}">{{order.status}}</span></td>

                          {% endif %}
                          

                          {% endif %}
                    


                      </tr>
                    
              <!-- The Modal -->
              <div id="notifymyModal-{{ order.id }}"  class="notifymodal">
              {{ order.id }}
                    <p>{{ order.description }}</p>
                    <button type="button" class="close" onclick="$(this).parent().hide()">x</button>
                                      
              </div>





                      {% endfor %}
                      {% else %}
                      <tbody>
                        <tr>
                      <td id="no-data">No result Found<td></span>
                        </tr>
                      </tbody>
                  {% endif %}

                </table>

                
                </div>

        
</div>

    </div>

    



  </div>
</main>
<script>
            
 $(document).ready(function(){
     $(".open-modal-button").click(function(){
     var id = $(this).data("id");
        $("#notifymyModal-"+id).show();
     });
                    
   });
</script>


{% endblock content %}
